
body{
    padding: 0;
    background-image: linear-gradient(
        0deg,
         rgba(0,0,0,0.5),
         rgba(0,0,0,0.5)

    ) 
    ,url("../img/azul.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
     
}

main{
    padding-top: 30px;   
}

.album{
    background-image: linear-gradient(
        0deg,
         rgba(0,0,0,0.5),
         rgba(0,0,0,0.5)

    ) 
    ,url("../img/azul.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.float{
    position: relative;
    bottom: -5em;
    margin-right: -23px;
    margin-bottom: -30px;

}

